@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;1,300;1,600&display=swap'); //Montserrat




//<Шрифт по умолчанию====================================================================================
$fontFamily: "Montserrat";
//<Шрифт по умолчанию=========================================================================================








//<Цвета
$gradientBackground: linear-gradient(to bottom right, rgba(255, 72, 72, 0.9),90%, rgb(255, 119, 77,1)),(rgb(255, 0, 0, 1));
$gradientSlide: linear-gradient(to bottom right, rgb(80, 44, 155, 100%), rgb(255, 0 ,138,44%));
 
//<Цвета